<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-12 col-md-8 offset-md-2">

    <h3>
        Edit your listing
    </h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <lable for="title" class="form-label">Tital</lable>
            <input value="<%= listing.title %>" name="listing[title]" type="text" class="form-control" required>
            <div class="valid-feedback">Title lookd good!</div>
            <div class="invalid-feedback">Plese enter a valid title!</div>
        </div>

        <div class="mb-3">
            <lable for="description" class="form-label">Description</lable>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Please enter correct size of description</div>
        </div>

        <div class="mb-3">
            Original listing image <br>
            <img src="<%= originalImageUrl %>" alt="old image" style="width: 350px; max-width: 100%; height: auto; border-radius: 10px; margin-top: 10px;">
        </div>

        <div class="mb-3">
            <lable for="image" class="form-label">Upload New Image</lable>
            <input  name="listing[image]" type="file" class="form-control">
            <div class="invalid-feedback">Enter a link(valid)</div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <lable for="price" class="form-label">Price</lable>
                <input value="<%= listing.price %>" name="listing[price]" type="number" class="form-control" required>
                <div class="invalid-feedback">Plese enter price</div>  
            </div>

            <div class="mb-3 col-md-8">
                <lable for="country" class="form-label">Country</lable>
                <input value="<%= listing.country %>" name="listing[country]" type="text" class="form-control" required>
                <div class="invalid-feedback">Plese enter the country name!</div>
            </div>
        </div>


        <div class="mb-3">
            <lable for="location" class="form-label">Location</lable>
            <input value="<%= listing.location%>" name="listing[location]" type="text" class="form-control" required>
            <div class="invalid-feedback">Plese enter the location!</div>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="listing[category]" id="category" class="form-select" required>
                <% 
                    const categories = ["Trending", "Rooms", "Iconic Cities", "Mountains", "Castles", "Amazing Pools", "Camping", "Farms", "Arctic", "Domes", "Boats"]; 
                %>
        
                <% for(let cat of categories) { %>
                    <option value="<%= cat %>" <%= listing.category === cat ? 'selected' : '' %> >
                        <%= cat %>
                    </option>
                <% } %>
            </select>
        </div>

        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br><br>
    </form>

</div>
</div>
